

/* section css */
section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    width: 100%;
 
}
h5{
    font-family: cursive;
}
.checked {
    color: orange;
  }
#content-images img {
    height: 350px;
    width: 100%;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    object-fit: contain;
    margin-bottom: 10%;
}

#content-form {

    width: 25%;
    height: 100%;
    border-left: 1px solid black;
}

#content-form div {
    display: flex;
    justify-content: center;
}

#content-form div label {
    width: 40%;
    display: block;
}

#content-form div input {
    width: 60%;
}

#content-form div button {
    padding: 5px;
}

#content-images {
    width: 75%;

}

#content-form form {
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;
}

#content-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;


}


.pos{
    transform: translate(17px,200px);
}

#description {
    margin-top: 1%;
    margin-bottom: 4%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
}

.box {
    margin-top: 6%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
    height: 400px;


}
#formbutton:hover{
    background-color:#5cb85c;
    color: white !important;
      
}
#hotelarticle {
    margin-top: 70%;
}



    /* responsive css */

@media screen and (min-device-width: 576px) and (max-device-width: 768px) {
    .box {
        margin-top: 10%;
        height: 380px;
        overflow: hidden;

    }
    #content-images img {
        height: 360px;
    width: 455px;
    margin-bottom: 14%;
    margin-right: 10%;
    margin-left: 2%;
    object-fit: cover;
    }
    #content-form {
        width: auto;
    }
    #description {
        justify-content: start;
    }

}

@media screen and (max-width: 576px ){
    #description {
     height: 800px;
     justify-content: start;
    }
    .box {
     flex-direction: column;
     height: 720px;
    justify-content: center;
    align-items: inherit;
    margin: 17% 1% 1% 1%;
    overflow: hidden;
    }

    #content-form{
     height: 100%;
    border: 1px solid black;
    width: auto;
    }
    #content-images {
        width: 100%;
        height: 205px;
    }
    #content-images img{
        height: 200px;
        width: 100%;
        padding: 0;
        margin: 0;
        object-fit: fill;
    
    }
   #demo{
    max-height: 254px;
    overflow: hidden;
    max-width: 369px;
    transform: translate(1%, -20%);
   }
   .pos{
    transform: translate(0%, 250%); 
   }
}