.hotel-card {
    margin: 2% 4%;
    background-color: lightgrey;
    flex-basis: 40%;
    flex-shrink: 0;
    /* display: inline-block; */
    display: flex;
}

.hotel-card:hover {
    background-color: rosybrown;
}

.card-container {
    display: inline-block;
}

#list-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.description {
    margin-left: 2%;
}