/* section css */
section {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hotel-images img {
    height: auto;
    width: 270px;

}

.hotel-images {
    display: flex;
    flex-direction: row;
    background-color: rgb(132, 136, 139);
    width: 50%;
    height: 20%;
    align-content: center;
    margin: 8% auto 2% auto;
}

#customer-info {
    margin: 2%;
}

b {
    font-family: cursive;
}

#payment-details {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 6%;
    background-color: rosybrown;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 4%
}

#footer-logo-div img {
    height: 20px;
    width: 22px;
}

/* 
   responsive css */

@media screen and (min-device-width: 576px) and (max-device-width: 768px) {
    .hotel-images {
        margin: 14% auto 2% auto;
        width: 85%;
        height: 200px;
    }

    .hotel-images img {
        height: 200px;
        width: 270px;
    }

    article {
        padding-left: 3%;
    }

    #footer-div {
        padding: 2%;
    }
}



@media screen and (max-width:576px) {
    .hotel-images {
        flex-direction: column;
        margin: 20% auto 2% auto;
        width: 100%;
        height: auto;
    }

    .hotel-images img {
        margin-top: 2%;
        margin-left: 8%;
        height: auto;
        width: 270px;
    }

    article {

        margin-left: 4%;
    }

    #payment-details {
        flex-direction: column;
    }

    #button {
        width: 40%;
        margin-left: 23%;
        margin-bottom: 2%;
    }

    #payment-details {
        margin-bottom: 14%;
    }
}